-r requirements.txt
flake8
mypy
build

mock
types-mock

pytest
pytest-asyncio
pytest-cov

# Toml and coverage temporarely fixes compatibility issues between coverage-lcov and coverage
# see for details: https://github.com/theupdateframework/python-tuf/issues/2254
coverage-lcov
toml
coverage==6.5.0